<!DOCTYPE html>

<html>
<head>
	<title>My Saltwater Fishtank</title>
</head>
<body>
<h1>Welcome! Buy some fish</h1>


<form action="/saltwater_fishes" method="POST">
 
  <p> Species: <input type="text" name="species"/> </p>
  <p> Color: <input type="text" name="color"/> </p>
  <p> Name: <input type="text" name="name"/> </p>
 
  <input type="submit" value="Buy Your Fish and Add it to the Fishtank"/>
</form>



</body>
</html>